{% extends 'cart/base.html' %}
{% block content%}
{% load static%}

<link rel="stylesheet" href="{%  static 'css/styleordercomplete.css' %}">
<style>
   @media print {
      body* {
         visibility: hidden;
      }

      #print_container,
      #print_container * {
         visibility: visible;
      }

      #print_container {
         position: absolute;
         left: 0px;
         top: 0px;
      }
   }


</style>
<div> 
   <a href="{% url 'home' %}" >Home</a>
</div>
<div class="container" style="margin-top: 10rem;">
   
   <div class="col-md-12 ">
      <div class="invoice" id="print_container">
         <button onclick="window.print();">
            print
         </button>
         <div class="invoice-company text-inverse f-w-600" style="text-align: center; height: 8rem;">
            <span class="pull-right hidden-print">
            </span>
           <h3 style="color: green;"> Order Success  <i class="fa fa-check" aria-hidden="true" style="color: green;"></i></h3>

         </div>

         <!-- begin invoice-company -->
         <div class="invoice-company text-inverse f-w-600" style="margin-top: 3rem;">
            <span class="pull-right hidden-print">
            </span>
            Payment Receipt
         </div>
         <!-- end invoice-company -->
         <!-- begin invoice-header -->
         <div class="invoice-header">
            <div class="invoice-from">
               <small>from</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">{{order.full_name}}</strong><br>
                  {{order.full_address}}<br>
                  {{order.city}}, {{order.pincode}}<br>
                  {{order.state}}<br>
                  Phone: {{order.phone}}<br>
                  Email: {{order.email}}
               </address>
            </div>

            <div class="invoice-date">
               <small>Invoice</small>
               <div class="date text-inverse m-t-5">{{order.created_at}}</div>
               <div class="invoice-detail">
                  <em>Order : {{order_number}}</em><br>
                  <em>Transaction ID : {{transID}}</em><br>
                  <em>Status : {{payment.status}}</em><br>

               </div>
            </div>
         </div>
         <!-- end invoice-header -->
         <!-- begin invoice-content -->
         <div class="invoice-content">
            <!-- begin table-responsive -->
            <div class="table-responsive">
               <table class="table table-invoice">

                  <thead>
                     <tr>
                        <th>PRODUCT</th>
                        <th class="text-center" width="10%">PRICE</th>
                        <th class="text-center" width="10%">QUANTITY</th>
                        <th class="text-right" width="20%">TOTAL</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for item in ordered_products %}

                     <tr>
                        <td>
                           <span class="text-inverse">{{item.product}}</span><br>
                        </td>
                        <td class="text-center">{{item.product_price}}</td>
                        <td class="text-center">{{item.quantity}}</td>
                        <td class="text-right">${{total}}</td>
                     </tr>
                  </tbody>

                  {%endfor%}
               </table>
            </div>
            
            <!-- end table-responsive -->
            <!-- begin invoice-price -->
            <div class="invoice-price">
               <div class="invoice-price-left">
                  <div class="invoice-price-row">
                     <div class="sub-price">
                        <small>TOTAL</small>
                        <span class="text-inverse">${{subtotal}}</span>
                     </div>
                     <div class="sub-price">
                        <i class="fa fa-minus text-muted"></i>
                     </div>
                     <div class="sub-price">
                        <small>COUPON DISCOUNT</small>
                        <span class="text-inverse">${{discount}}</span>
                     </div>
                  </div>
               </div>
               <div class="invoice-price-right">
                  <small>GRANDTOTAL</small> <span class="f-w-600">{{grand_total}}</span>
               </div>
            </div>
            <!-- end invoice-price -->
         </div>
         
         <!-- end invoice-content -->
      </div>
   </div>
</div>
{%endblock%}